%header#nav-bar.container-fluid
  .row-fluid
    .span8
      #header-container
        %a#backbutton.win-backbutton{:href => "#"}
        %h3 BEATS
    #top-info.pull-right
      %a.pull-left{:href => "#"}
        .top-info-block
          %h3
            #{@current_user.name}
          %h4 Home
        .top-info-block
          %a.pull-left{:href => "/beats"}
            %b.icon-music
      %hr.separator.pull-left
        %a#settings.pull-left{:href => "#"}
          %b.icon-exit
.container.borde
  .containerUno
    %img.containerFoto{:src => "https://api.twitter.com/1/users/profile_image?screen_name=#{@current_user.email}&size=original"}
    %h2.AlineadoBlack
      #{@current_user.name}
  .containerDos
    %h2.label-info.Alineado My Beats
    #listview.grid-layout.Alto    
      - @current_user.songs.each do |song|
        .mediumListIconTextItem.AnchoItem
          .containerBotones
            .containerIcon.btn.btn-success.playSong{'data-url' => "/beats/#{song.id}"}
              .icon-play
            .containerIcon.btn.btn-twitter
              .icon-twitter-2{'data-url' => "https://twitter.com/intent/tweet?url=http://mybeats.herokuapp.com/beats/#{song.id}&text=Listen to my new song: #{song.title}&via=beatsstw"}
          %p #{song.title}
  .containerTres
    %h2.label-success.Alineado Best Beats
    #listview1.grid-layout.Alto
      - @songs.each do |song|    
        .mediumListIconTextItem.AnchoItem1
          .containerBotones1
            .containerIcon1.btn.btn-success
              .icon-play
            .containerIcon1.btn.btn-twitter
              .icon-twitter-2
          .titulo
            %p #{song.title}
          .titulo
            %p #{song.user.name}
