%html
  %head
    %title Beats
    = stylesheet_link_tag 'bootmetro/css/bootstrap', 'bootmetro/css/bootstrap-responsive', 'bootmetro/css/bootmetro'
    = stylesheet_link_tag 'bootmetro/css/bootmetro-tiles', 'bootmetro/css/bootmetro-charms'
    = stylesheet_link_tag 'bootmetro/css/metro-ui-light', 'bootmetro/css/icomoon'
    = stylesheet_link_tag 'bootmetro/css/datepicker', 'bootmetro/css/daterangepicker', 'application', 'login', 'home'
    = stylesheet_link_tag 'jquery.pnotify.default', 'jquery.pnotify.default.icons', 'http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js", :type => "text/javascript"}
    = javascript_include_tag 'underscore'
    = javascript_include_tag 'backbone'
    = javascript_include_tag 'bufferLoader'
    = javascript_include_tag 'templates'
    = javascript_include_tag 'models'
    = javascript_include_tag 'views'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.pnotify.min'
    
  %body
    = yield